*
*/
!/.gitignore
!/
/*
!/x11/
!/tmux/
!/wakatime/
!/dunst/
!/htop/
!/kitty/
!/nvim/
!/nvim/*
!/nvim/**
!/nvim/*/
!/picom/
!/qtile/
!/qutebrowser/
!/qutebrowser/*/
!/qutebrowser/**
/qutebrowser/autoconfig.yml
/qutebrowser/qsettings/*
/qutebrowser/bookmarks/*
!/shell/
!/starship/
!/sxhkd/
!/sxiv/
!/zathura/
!/sway/
