*
*/
!/mimeapps.list
!/.gitignore
!/bash/
!/bash/**
!/ranger/
!/ranger/**
!/mpv/
!/mpv/**
!/bat/
!/bat/**
!/SCRIPTS/
!/SCRIPTS/**
!/alacritty/
!/alacritty/**
!/wezterm/
!/wezterm/**
!/warpd/
!/warpd/**
!/xmenu/
!/xmenu/**
!/dunst/
!/dunst/**
!/git/
!/git/**
!/htop/
!/htop/**
!/fontconfig/
!/fontconfig/**
!/kitty/
!/kitty/**
!/newsboat/
!/newsboat/**
!/npm/
!/npm/**
!/nvim/
!/nvim/**
!/picom/
!/picom/**
!/qtile/
!/qtile/**
!/qutebrowser/
!/qutebrowser/**
!/rofi/
!/rofi/**
!/shell/
!/shell/**
!/starship/
!/starship/**
!/sway/
!/sway/**
!/sx/
!/sx/**
!/sxhkd/
!/sxhkd/**
!/dxhd/
!/dxhd/**
!/sxiv/
!/sxiv/**
!/tmux/
!/tmux/**
!/wget/
!/wget/**
!/x11/
!/x11/**
!/zathura/
!/zathura/**
!/zsh/
!/zsh/**
!/user-dirs.dirs 
!/gtk-2.0/
!/gtk-2.0/**
!/gtk-3.0/
!/gtk-3.0/**
!/gtk-4.0/
!/gtk-4.0/**
!/Thunar/
!/Thunar/**
!/lf/
!/lf/**
!/polybar/
!/polybar/**
!/bspwm/
!/bspwm/**
!/wallpapers.cfg
!/theme/
!/theme/**
!/libinput-gestures.conf
/qtile/__pycache__/
/qtile/gruvbox/__pycache__/
/qutebrowser/autoconfig.yml
/qutebrowser/modules/__pycache__/
/qutebrowser/qsettings/*
/zsh/.zcompdump
/Thunar/accels.scm
