*
*/
!/mimeapps.list
!/.gitignore
!/bash/
!/bash/**
!/dunst/
!/dunst/**
!/git/
!/git/**
!/htop/
!/htop/**
!/kitty/
!/kitty/**
!/newsboat/
!/newsboat/**
!/npm/
!/npm/**
!/nvim/
!/nvim/**
!/picom/
!/picom/**
!/qtile/
!/qtile/**
!/qutebrowser/
!/qutebrowser/**
!/rofi/
!/rofi/**
!/shell/
!/shell/**
!/starship/
!/starship/**
!/sway/
!/sway/**
!/sx/
!/sx/**
!/sxhkd/
!/sxhkd/**
!/sxiv/
!/sxiv/**
!/tmux/
!/tmux/**
!/wget/
!/wget/**
!/x11/
!/x11/**
!/zathura/
!/zathura/**
!/zsh/
!/zsh/**
/qtile/__pycache__/
/qtile/gruvbox/__pycache__/
/qutebrowser/autoconfig.yml
/qutebrowser/bookmarks/*
/qutebrowser/modules/__pycache__/
/qutebrowser/qsettings/*
