body{
	background-color: #fbf1c7;
	color: #fb4934;
	font-size: 30px;
}
a:link {
  color: #fb4934;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #fb4934;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fb4934;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #fb4934;
  background-color: transparent;
  text-decoration: underline;
}
div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
td, table{
    border-collapse: collapse;
	text-align: center;
}
table{
    border: 3px solid #fb4934;
}
th, td {
  padding: 15px;
}
th{
  text-decoration: underline;
  text-decoration-color: #d79921;
}
